@{
    ViewData["Title"] = "Expenses";
}
@model IEnumerable<Transaction>

<div class="alert alert-success visually-hidden" role="alert">
    <div class="text d-inline"></div>
    <button type="button" class="btn-close float-end" onclick="hideDeleteConfirmation()" aria-label="Close"></button>
</div>

<h1>
    @ViewData["Title"] 
    <a class="btn btn-dark" data-ajax="true" data-ajax-complete="showAddTransactionModal" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#addTransactionModalForm" href="@Url.Action("AddTransaction", "Home")">
        Add
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
        </svg>
    </a>
</h1>

<div id="transactionTable">
    @await Html.PartialAsync("~/Views/Home/_TransactionTable.cshtml", Model)
</div>

<div class="modal fade" id="addTransactionModal" tabindex="-1" aria-labelledby="addTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTransactionModalLabel">Expense</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form data-ajax="true" data-ajax-success="hideAddTransactionModal" data-ajax-method="POST" method="post" data-ajax-url="@Url.Action("AddTransaction", "Home")">
                <div class="modal-body">
                    <div id="addTransactionModalForm">
                        @await Html.PartialAsync("~/Views/Home/_AddTransactionModalForm.cshtml", new AddTransactionViewModel())
                    </div>
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function showAddTransactionModal() {
        $('#addTransactionModal').modal('show');
    }

    function showAllTransactions() {
        $.ajax({
            url: '/Home/Index',
            type: "GET",
            dataType: 'html',
            success: function (data) {
                $('#transactionTable').html(data);
            }
        });
    }

    function hideAddTransactionModal() {
        $('#addTransactionModal').modal('hide');

        showAllTransactions();
    }

    function showDeleteConfirmation() {
        $('.alert').removeClass('visually-hidden');
        $('.alert .text').text('The transaction is successfully deleted.');
        showAllTransactions();
    }

    function hideDeleteConfirmation() {
        $('.alert').addClass('visually-hidden');
        $('.alert .text').text('');
    }
</script>